<input type="text" placeholder="Search criterio" [(ngModel)]="criterioRicerca">
<button (click)="cerca()">Cerca</button>
<button (click)="mainPage()">Main page</button>
<br>
<br>
<table *ngIf="listaCompletaVis">
    <tr>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Telefono</th>
        <th></th>
    </tr>
    <tr *ngFor="let p of med.lista">
        <td>{{p.nome}}</td>
        <td>{{p.cognome}}</td>
        <td>{{p.telefono}}</td>
        <td>
            <button>Cancella</button>
        </td>
    </tr>
</table>

<table *ngIf="listaFiltrataVis">
    <tr>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Telefono</th>
        <th></th>
    </tr>
    <tr *ngFor="let l of listaFiltrata">
        <td>{{l.nome}}</td>
        <td>{{l.cognome}}</td>
        <td>{{l.telefono}}</td>
        <td>
            <button>Cancella</button>
        </td>
    </tr>
</table>