<input type="text" placeholder="nome">
<input type="text" placeholder="cognome">
<input type="text" placeholder="telefono">
<br>
<br>
<button>Aggiungi</button>

<a routerLink="/conteggio-contatti">
    <button>Conta</button>
</a>

<a routerLink="/ricerca-page">
    <button>Cerca</button>
</a>

<br>
<br>

<table>
    <tr>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Telefono</th>
        <th></th>
    </tr>
    <tr>
        <td>xxxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>
            <button>Cancella</button>
        </td>
    </tr>
</table>